<!DOCTYPE html>
<html class="home-bg">
{% include "partials/header.html" %}
  <body>
      <a class="container" href="/auth/google">
        <img alt="Qries" src="https://cdn.glitch.com/4271f25f-07b2-4643-8140-4c66d5025809%2Fbtn_google_signin_light_pressed_web%402x.png?v=1587098834774"
         width=260" height="70" class="googleSignin">
      </a>  

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  
  </body>

</html>
