<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Success | Google Passport Example</title>
    <meta name="description" content="an example app implementing google oauth with passport">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Google Passport Example</h1>
      <h2>an example app showing how to use passport and google oauth</h2>
    </header>

    <main>
      <p>
        You did it, you logged in ☺️
      </p>
      <p>
        <a href="/logoff">Now log off! hehehe</a>
      </p>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <canvas id="chart"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/js/success_charts.js"></script>


  </body>
</html>
