#main{
  position:relative;
}
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-bg {
  background-image: url("https://cdn.glitch.com/4271f25f-07b2-4643-8140-4c66d5025809%2Fspace-2.jpg?v=1587094702465");
}

.success-bg {
  display: block;
  position: relative;
}

.success-bg::after {
  content: "";
  background-image: url("https://cdn.glitch.com/4271f25f-07b2-4643-8140-4c66d5025809%2Fspace-bg.jpg?v=1587154232280");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.googleSignin {
  display:block;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}
